
# Ignore Mac DS_Store files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# data folder content
data/*.csv
data/*tar.gz
data/nycflights
data/random.hdf5
data/weather-big

#dask graph
mydask.png

#dask worker space
dask-worker-space